@model List<data_access.Entities.Subject>

<div>
	@if(Model.Any())
	{
		<h3 class="display-6 m-5 text-center">You have chosen @Model.Count() additional subjects: </h3>

		<ol class="list-group list-group-numbered m-4">
			@foreach(var sub in Model)
			{
           
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
						<div class="fw-bold">@sub.Name</div>
						ECTS: @sub.Ects

						<a asp-controller="Subjects"
						   asp-action="DeleteOptionalSubject"
						   asp-route-subjectId="@sub.Id"
						   asp-route-returnUrl="@Context.Request.Path"
						   class="btn btn-outline-danger m-lg-4">

							Delete <i class="bi bi-dash-circle"></i>
						</a>

					</div>
				</li>
            
			}
		</ol>
		
	}
	else
	{
		<p>No additional subjects selected!</p>
	}

	<a asp-controller="Home"
	   asp-action="Index"
	   class="btn btn-outline-secondary">
		Back
	</a>
</div>


